* {
  margin: 0;
  padding: 0;
}

.top {
  background-image: url(img/top.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.top h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 5em;
  padding-top: 120px;
}
h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Pacifico", cursive;
  padding-top: 20px;
}

section {
  width: 100vw;
}

.q1 p {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  padding: 130px;
  font-size: 30px;
  color: #fbc0bd;
  font-weight: normal;
  letter-spacing: 0.2em;
  line-height: 2;
}

.q2 {
  background-color: #fbc0bd;
}

.q2 p {
  font-family: "Pacifico", cursive;
}

.q2 img {
  width: 300px;
}

.flex-box {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.q3 {
  text-align: center;
}

.q3 a {
  color: #fff;
  background-color: #fbc0bd;
  padding: 20px;
  text-decoration: none;
  border-radius: 30px;
  display: inline-block;
  margin: 150px auto;
}

.q3 a:hover {
  color: #fbc0bd;
  background-color: #fff;
  border: 1px solid #fbc0bd;
}
